.wrapper{
  width: 100vw;
  display: flex;
  justify-content: center;
  .table{
    border-collapse:collapse;
    tr, td{
      border: 1px solid black;
    }
    td{
      font-size: 16px;
      padding: 0.5em;
      font-family: sans-serif;
    }
  }
}
